@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="logo-container">
        <img src="~/img/Header/LogoSite.png" alt="Site Logo" class="site-logo" />
    </p>
    
</div>
